.ipynb_checkpoints/**
.vscode/**
data_wrangle.ipynb
gui_folium.ipynb
group_project_work.ipynb
technology review/.ipynb_checkpoints/**
crashviz/**
__pycache__/**
crash4viz/.DS_Store
crash4viz/__pycache__/**
crash4viz/.ipynb_checkpoints/**
crash4viz/tests/__pycache__/**
crash4viz/tests/.DS_Store
crash4viz/.DS_Store
.DS_Store
technology review/**